// New Arrivals wrapper
.new-arrivals {
  max-width: 1172px;
  margin: 0 auto;
  &__title {
    font: 22px 'Gotham Pro Bold', sans-serif;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    margin: 80px 0 39px 0;
  }
  &__items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

// New arrivals item
.arrivals {
  width: 272px;
  font-size: 12px;
  margin: 0 10px 39px;
  &__title {
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 35px;
    a {
      text-decoration: none;
      color: $color-black;
    }
  }
  &__price {
    font-family: 'Gotham Pro Bold', sans-serif;
    color: $color-golden;
    margin-top: 7px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
  }
  &__size {
    font-family: 'Gotham Pro Medium', sans-serif;
  }
  &__code {
    color: $color-gray;
  }
  &__btn {
    margin-top: 20px;
  }
}

// New arrivals item -> Add to card + Like
.a-btn {
  display: flex;
  width: 272px;
  height: 50px;
  border: 2px solid $color-light-gray;
  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    font: 12px 'Gotham Pro Bold', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      background: $color-black;
      color: $color-white;
    }
  }
  &__like {
    &_no-filling, &_filling {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      border-left: 2px solid $color-light-gray;
      cursor: pointer;
    }
    &_no-filling {
      background: url('../img/arrivals/like.jpg') no-repeat center;
      &:hover {
        background: url('../img/arrivals/like-bg.jpg') no-repeat center;
      }
    }
    &_filling {
      background: url('../img/arrivals/like-bg.jpg') no-repeat center;
    }
  }
}