// Cart
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 354px;
  padding: 79px 54px 28px 28px;
  background: $color-white;
  border: 1px solid $color-light-gray;
  font-size: 14px;
  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 43px;
    margin-bottom: 61px;
    border-bottom: 1px solid $color-light-gray;
  }
  // Cart title
  &__title {
    text-transform: uppercase;
    font-family: 'Gotham Pro Bold', sans-serif;
  }
  &__product {
    margin-bottom: 45px;
  }
  &__bottom {
    padding-top: 23px;
    border-top: 1px solid $color-light-gray;
  }
  &__count {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  // Cart total-title
  &__total-title {
    font-family: 'Gotham Pro Bold', sans-serif;
  }
  // Cart total
  &__total {
    color: $color-golden;
    font-family: 'Gotham Pro Black', sans-serif;
  }
  // Cart btn
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font: 12px 'Gotham Pro Bold', sans-serif;
    text-transform: uppercase;
    color: $color-white;
    background: $color-black;
    cursor: pointer;
  }
}

// Product
.product {
  display: flex;
  justify-content: space-between;
  &__img {
    img {width: 73px;}
  }
  &__info {
    width: 172px;
  }
  &__title {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: 'Gotham Pro Bold', sans-serif;
    line-height: 21px;
  }
  &__size {
    font: 12px 'Gotham Pro Medium', sans-serif;
    line-height: 16px;
    margin-bottom: 20px;
  }
  &__result {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__quantity {
    width: 72px;
    height: 30px;
    border: 2px solid $color-light-gray;
  }
  &__price {
    color: $color-golden;
    font-family: 'Gotham Pro Bold', sans-serif;
  }
}

// Quantity value
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 12px 'Gotham Pro Medium', sans-serif;
  &__minus {
    color: $color-gray;
    cursor: pointer;
  }
  &__plus {
    color: $color-gray;
    cursor: pointer;
  }
  &__value {
    padding: 0 8px;
  }
}