// Top Header
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 127px;
  padding: 16px 16px 0 16px;
  background: $color-white;
  .header {
    max-width: 1154px;
    height: 95px;
    font-size: 12px;
    margin: 0 auto;

    // Top Bar
    &__top-bar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 26px;
    }
    // Search
    &__search {
      position: relative;
      width: 171px;
      border-bottom: 1px solid $color-gray;
      white-space: nowrap;
      input {
        width: 156px;
        border: none;
        outline: none;
        margin-right: 3px;
        padding-bottom: 5px; 
      }
      img {cursor: pointer;}
    }
    &__right-block {
      display: flex;
      align-items: center;
      a {
        font-family: 'Gotham Pro Medium', sans-serif;
        text-decoration: none;
        color: $color-black;
      }
    }
    // Login
    &__login {
      margin-right: 25px;
    }
    // Register
    &__register {
      margin-right: 91px;
    }
    // Like
    &__like {
      display: flex;
      align-items: center;
      margin-right: 23px;
      cursor: pointer;
    }
    // Cart
    &__cart {
      display: flex;
      align-items: center;
      position: relative;
      img {
        cursor: pointer;
      }
      .cart-quantity {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14px;
        height: 14px;
        font: 8px 'Gotham Pro Medium', sans-serif;
        color: $color-white;
        border-radius: 50%;
        background: $color-black;
        position: absolute;
        top: -7px;
        right: -14px;
      }
    }

    // Bottom Bar
    &__bottom-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__logo-menu {
      display: flex;
      align-items: center;
    }
    // Logo
    &__logo {
      margin-right: 80px;
    }
    // Menu
    &__menu {
      a {
        font-family: 'Gotham Pro Bold', sans-serif;
        color: $color-black;
        margin-right: 70px;
        text-decoration: none;
        text-transform: uppercase;
        &:first-child {
          padding-bottom: 7px;
          border-bottom: 2px solid $color-black;
        }
        &:last-child {
          margin-right: 0px;
        }
        &:hover {
          color: $color-golden;
        }
      }
    }
    // Language
    &__language {
      display: flex;
      font-family: 'Gotham Pro Medium', sans-serif;
      div:first-child {
        margin-right: 35px;
      }
      &_on {
        cursor: pointer;
      }
      &_off {
        color: $color-gray;
        cursor: pointer;
        &:hover {
          color: $color-black;
        }
      }
    }
    
  }
}