// My media
@media (max-width: 580px) {
  // Hide search
  .header__top-bar {
    justify-content: flex-end !important;
  }
  .header__search {
    display: none;
  }
  // Hide language
  .header__language {
    display: none !important;
  }
  // Logo
  .header__logo {
    margin-right: 0px !important;
  }
  // Bottom Bar
  .header__bottom-bar {
    justify-content: center !important;
  }
}

@media (max-width: 1040px) {
  // Menu
  .header__menu {
    display: none;
  }
}

@media screen and (max-height: 800px) { 
  .cart {
    max-height: 100%;
    overflow-y: scroll;
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  
}
