// Slider wrapper
.slider {
  padding-top: 137px;
}

// Button prev and next
%swiper-btn {
  position: absolute;
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  z-index: 10;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-black;
}

%swiper-btn-after {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-btn-prev, .swiper-btn-next {
  @extend %swiper-btn;
}

.swiper-btn-prev {
  right: auto;
  left: 10px;
  &::after {
    content: url('../img/slider/prev/prev.png');
    @extend %swiper-btn-after;
  }
}

.swiper-btn-next {
  right: 10px;
  left: auto;
  &::after {
    content: url('../img/slider/next/next.png');
    @extend %swiper-btn-after;
  }
}