// Fonts
@import './fonts.scss';

// Variables
@import './variables.scss';

// All
* {
  box-sizing: border-box;
}

#app {
  font: 14px 'Gotham Pro', sans-serif;
  color: $color-black;
}

// Top Header
@import './header.scss';

// Cart
@import './cart.scss';

// Slider
@import './slider.scss';

// New Arrivals
@import './arrivals.scss';

// Media Queries
@import './media.scss';