<template>
  <div class="home">
    <!-- Top Header -->
    <top-header/>
    <!-- Slider -->
    <slider :image="image"/>
    <!-- New Arrivals -->
    <div class="new-arrivals">
      <h1 class="new-arrivals__title">New Arrivals</h1>
      <div class="new-arrivals__items">
        <!-- New Arrivals tems -->
        <arrivals v-for="arrival in arrivals" 
                  :key="arrival.id"
                  :arrivals="arrival"/>
      </div>
    </div>
  </div>
</template>

<script>
import TopHeader from '@/components/TopHeader.vue'
import Slider from '@/components/Slider.vue'
import Arrivals from '@/components/Arrivals.vue'

export default {
  name: 'home',
  components: {
    TopHeader,
    Slider,
    Arrivals
  },
  created() {
    this.$store.dispatch('loadSliderImage')
    this.$store.dispatch('loadArrivals')
  },
  data() {
    return {}
  },
  computed: {
    image() {
      return this.$store.getters.getSliderImage
    },
    arrivals() {
      return this.$store.getters.getArrivals
    }
  },
}
</script>