<template>
    <div>
        <!-- New Arrivals item -->
        <div class="arrivals">
            <a href="#">
                <img :src="arrivals.src" :alt="arrivals.alt">
            </a>
            <div class="arrivals__title">
                <a href="#" v-html="arrivals.title"></a>
            </div>
            <div class="arrivals__price">{{arrivals.price}} UAH</div>
            <div class="arrivals__info">
                <div class="arrivals__size">Size: {{arrivals.size}}</div>
                <div class="arrivals__code" v-html="arrivals.code"></div>
            </div>
            <div class="arrivals__btn a-btn">
                <div class="a-btn__add" @click="addToCart(arrivals)">Add to cart</div>
                <div class="a-btn__like_no-filling"></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        arrivals: {
            require: true,
            type: Object
        },
    },
    methods: {
        addToCart(product) {
            this.$store.dispatch('loadCart', product)
        }
    }
}
</script>