<template>
    <div>
        <!-- Cart -->
        <div class="cart" v-if="closeBtn">
            <div class="cart__header">
                <!-- Cart title -->
                <div class="cart__title">
                    Моя корзина ({{getCart.length}})
                </div>
                <!-- Cart close -->
                <div class="cart__close">
                    <img @click="closeCard" src="../assets/img/cart/close.png" alt="Close">
                </div>
            </div>
            <!-- Product -->
            <div v-for="cart in carts" :key="cart.id" class="cart__product product">
                <div class="product__img">
                    <img :src="cart.src" :alt="cart.alt">
                </div>
                <div class="product__info">
                    <div class="product__title" v-html="cart.title"></div>
                    <div class="product__size">Size: {{cart.size}}</div>
                    <div class="product__result">
                        <div class="product__quantity quantity">
                            <div class="quantity__minus" @click="decrement">-</div>
                            <div class="quantity__value">{{cart.val}}</div>
                            <div class="quantity__plus" @click="increment">+</div>
                        </div>
                        <div class="product__price">{{cart.price}} UAH</div>
                    </div>
                </div>
            </div>
            <div class="cart__bottom">
                <div class="cart__count">
                    <!-- Cart total-title -->
                    <div class="cart__total-title">Total</div>
                    <!-- Cart total -->
                    <div class="cart__total">{{total}} UAH</div>
                </div>
                <!-- Cart btn -->
                <div class="cart__btn">Proceed checkout</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        openBtn: {
            require: true,
            type: Boolean
        }
    },
    data() {
        return {
            closeBtn: false,
            carts: [],
            cartProduct1: [],
            cartProduct2: [],
            cartProduct3: [],
            cartProduct4: [],
            total: 0
        }
    },
    computed: {
        getCart() {
            return this.$store.getters.getCart
        }
    },
    methods: {
        closeCard() {
            this.closeBtn = false
            this.$emit('closeBtn', false)
        },
        increment() {
            
        },
        decrement() {
            
        }
    },
    watch: {
        openBtn() {
            this.closeBtn = this.openBtn
        },
        getCart() {
            // Last item added
            let lastAdd = this.getCart.length - 1;

            switch (this.getCart[lastAdd].id) {
                case 1:
                    this.cartProduct1.push(this.getCart[lastAdd]);
                    break;
                case 2:
                    this.cartProduct2.push(this.getCart[lastAdd]);
                    break;
                case 3:
                    this.cartProduct3.push(this.getCart[lastAdd]);
                    break;
                case 4:
                    this.cartProduct4.push(this.getCart[lastAdd]);
                    break;
            }

            // Clear length and total
            this.carts.length = 0;
            this.total = 0;

            if (this.cartProduct1.length > 0) {
                this.cartProduct1[0].val = this.cartProduct1.length;
                this.total += this.cartProduct1[0].val * this.cartProduct1[0].price;
                this.carts.push(this.cartProduct1[0]);
            }
            if (this.cartProduct2.length > 0) {
                this.cartProduct2[0].val = this.cartProduct2.length;
                this.total += this.cartProduct2[0].val * this.cartProduct2[0].price;
                this.carts.push(this.cartProduct2[0]);
            }
            if (this.cartProduct3.length > 0) {
                this.cartProduct3[0].val = this.cartProduct3.length;
                this.total += this.cartProduct3[0].val * this.cartProduct3[0].price;
                this.carts.push(this.cartProduct3[0]);
            }
            if (this.cartProduct4.length > 0) {
                this.cartProduct4[0].val = this.cartProduct4.length;
                this.total += this.cartProduct4[0].val * this.cartProduct4[0].price;
                this.carts.push(this.cartProduct4[0]);
            }
            
        }
    }
}
</script>