<template>
    <div class="slider">
        <!-- Swiper -->
        <swiper :options="swiperOption">
          <swiper-slide v-for="img in image" :key="img.id">
            <img :src="img.src" :alt="img.alt" width="100%">
          </swiper-slide>

          <div class="swiper-btn-prev" slot="button-prev"></div>
          <div class="swiper-btn-next" slot="button-next"></div>
        </swiper>
    </div>
</template>

<script>
export default {
  props: {
    image: {
      required: true,
      type: Array
    },
  },
  data() {
    return {
      swiperOption: {
        loop: true,
        navigation: {
          nextEl: '.swiper-btn-next',
          prevEl: '.swiper-btn-prev'
        }
      }
    }
  }
}
</script>