<template>
	<div>
		<header>
			<!-- Top Header -->
			<div class="header">

				<!-- Top Bar -->
				<div class="header__top-bar">
					<!-- Search -->
					<div class="header__search">
						<input type="text" placeholder="Search">
						<img src="../assets/img/header/search.png" alt="Search">
					</div>
					<div class="header__right-block">
						<!-- Login -->
						<div class="header__login">
							<a href="#">Login</a>
						</div>
						<!-- Register -->
						<div class="header__register">
							<a href="#">Register</a>
						</div>
						<!-- Like -->
						<div class="header__like">
							<img src="../assets/img/header/like.png" alt="Like">
						</div>
						<!-- Cart -->
						<div class="header__cart">
							<img @click="openCart" src="../assets/img/header/cart.png" alt="Cart">
							<div class="cart-quantity" v-html="getCart.length"></div>
							<cart :openBtn="openBtn"
										@closeBtn="openCart"/>
						</div>
					</div>
				</div>

				<!-- Bottom Bar -->
				<div class="header__bottom-bar">
					<div class="header__logo-menu">
						<!-- Logo -->
						<div class="header__logo">
							<a href="#">
								<img src="../assets/img/header/weesby.png" alt="Weesby">
							</a>
						</div>
						<!-- Menu -->
						<div class="header__menu">
							<a href="#">Catalog</a>
							<a href="#">New year</a>
							<a href="#">Sale</a>
							<a href="#">About</a>
							<a href="#">Blog</a>
							<a href="#">Contact</a>
						</div>
					</div>
					<!-- Language -->
					<div class="header__language">
						<div class="header__language_on">EN</div>
						<div class="header__language_off">UA</div>
					</div>
				</div>

			</div>
		</header>
	</div>
</template>

<script>
import Cart from '@/components/Cart.vue'

export default {
	components: {
		Cart
	},
	data() {
		return {
			openBtn: false
		}
	},
	computed: {
		getCart() {
			return this.$store.getters.getCart
		}
	},
	methods: {
		openCart() {
			this.openBtn = !this.openBtn
		}
	}
}
</script>